name: Build & Release

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        goos: [linux, windows, darwin]
        goarch: [amd64, arm64]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'

      - name: Build binary
        run: |
          mkdir -p bin
          ext=""
          if [ "${{ matrix.goos }}" = "windows" ]; then
            ext=".exe"
          fi
          GOOS=${{ matrix.goos }} GOARCH=${{ matrix.goarch }} \
          go build -o bin/vulcan-${{ matrix.goos }}-${{ matrix.goarch }}${ext} ./cmd/vulcan

      - name: Package tar.gz
        run: |
         mkdir -p dist
         ext=""
         if [ "${{ matrix.goos }}" = "windows" ]; then
            ext=".exe"
         fi
         tar -czf dist/vulcan-${{ matrix.goos }}-${{ matrix.goarch }}.tar.gz \
         -C bin vulcan-${{ matrix.goos }}-${{ matrix.goarch }}${ext}

      - name: Upload builds
        uses: actions/upload-artifact@v4
        with:
          name: builds-${{ matrix.goos }}-${{ matrix.goarch }}
          path: dist/*.tar.gz


  release:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: dist
          merge-multiple: true

      - name: Generate next tag
        id: version
        run: |
          latest=$(git tag --sort=-v:refname | head -n 1)
          if [ -z "$latest" ]; then
            next="v1.0.0"
          else
            base=${latest#v}
            IFS='.' read -r major minor patch <<< "$base"
            patch=$((patch+1))
            next="v$major.$minor.$patch"
          fi
          echo "tag=$next" >> $GITHUB_OUTPUT

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.version.outputs.tag }}
          files: dist/*.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Cleanup
        run: rm -rf dist bin